person-card {
  img{
    pointer-events: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    height: 260px;
    object-fit: contain;
    object-position: center;
  }

  ion-badge{
    margin-right: 5px;
  }
}
